body
{
	margin: 0px;
}




#entete section aside
{
	display: inline-block;
	vertical-align: top;

}

#entete
{
	width: 20%;
	height: 100%;
	background-color: #23232C;
}

aside 
{
	width: 20%;
}

section 
{
	width: 60%;
}

.logo
{

	width: 117px;
	height: 24px;
	padding: 20px;
	margin-left: 35px;
}

#rechercher
{
	border-radius: 5px;
	height: 25px;
	margin-bottom: 20px;
	
}

form
{
	margin-left: 35px;

}


nav ul 
{

	list-style-type: none; 
	color: white;
	margin: auto;
	font-family: Open Sans, Arial;


}

#audio img
{

	width: 253px;
	height: 220px;
	margin: auto;
}

.List1 ul li a
{
	color: grey;
	text-decoration: none;
}

.List1 ul li a:hover
{
	color: white;
}


.List2 ul li a
{
	color: grey;
	text-decoration: none;
}


.List2 ul li a:hover
{
	color: white;
	text-decoration: underline;

}

li:hover
{
	background-color: black;
}

.image_fix
{
	position: fixed;
	
}

#menu
{	
	position: relative;
	top: 130px;
	overflow: scroll;
	max-height: 300px;
	background-color: #23232C;
	font-size: 13px;
}

#audio
{
	position: fixed;
	left: 0;
	bottom: 0;
}

