body
{
	margin: 0px;
}




#entete section aside
{
	display: inline-block;
	vertical-align: top;

}

#entete
{
	width: 20%;
	height: 100%;
	/*background-color: #23232C;*/
	background-color: #181818;
	
}

aside 
{
	width: 20%;
}

section 
{
	width: 60%;
}

.logo
{

	width: 117px;
	height: 24px;
	padding: 20px;
	margin-left: 35px;
}

#rechercher
{
	border-radius: 5px;
	height: 25px;
	margin-bottom: 25px;
	margin-left: -10px;
	margin-right: 10px;

	


	
}

form
{
	margin-left: 35px;

}


nav ul 
{

	list-style-type: none; 
	color: white;
	margin: auto;
	font-family: Open Sans, Arial;



}

#audio img
{

	width: 226px;
	height: 220px;
	margin: auto;
}

.List1 ul li a
{
	color: grey;
	text-decoration: none;
	
}

.List1 ul li a:hover
{
	color: white;
}


.List2 ul li a
{
	color: grey;
	text-decoration: none;
	overflow: scroll;
	
	
}


.List2 ul li a:hover
{
	color: white;
	text-decoration: underline;


	
}

.image_fix
{
	position: fixed;
	background-color: #181818;
	/*background-color: #23232C;*/



	
}

#menu
{	
	position: absolute;
	top: 132px;
	background-color: #181818;
	/*background-color: #23232C;*/
	width: 226px;
	height: 200px;
	/* valeur initiale: height: 316px;*/
	overflow: scroll;
	padding-bottom: 120px;

}

#audio
{
	position: fixed;
	left: 0;
	bottom: 0;
}
